*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #e4cbcb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
}

.post {
    background: white;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}


@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }
}